A1: ctrl + shift + F    | B1: shutdown()          | C1: S
A2: A                   | B2: shutdown()          | C2: 'C:\Users\victx\OneDrive\Documents\Scripts\Python\ProgrammableKeyboard\AutomatedTests.py'
A3: clipboard(PASTE, 1) | B3: clipboard(PASTE, 2) | C3: clipboard(PASTE, 3)
A4: clipboard(COPY, 1)  | B4: clipboard(COPY, 2)  | C4: clipboard(COPY, 3)
A5: restart()

# Comment line 1
# clipboard(MODE, ID) -> MODE - COPY/PASTE | ID - one ID per pair (copy and paste)
# shutdown() shuts down PC
# restart() restarts PC
