A1: ctrl + shift + F    | B1: shutdown()          | C1: S
A2: clipboard(PASTE, 1) | B2: clipboard(PASTE, 2) | C2: clipboard(PASTE, 3)
A3: clipboard(COPY, 1)  | B3: clipboard(COPY, 2)  | C3: clipboard(COPY, 3)

# Comment line 1
# clipboard(MODE, ID) -> MODE - COPY/PASTE | ID - one ID per pair (copy and paste)
# shutdown() shuts down PC
